<!--<header>-->
<!--  <div class="container">-->
<!--    <a routerLink="/" class="logo">-->
<!--      Brew Web Application-->
<!--      {{currentApplicationVersion}}-->
<!--    </a>-->
<!--&lt;!&ndash;    <nav>&ndash;&gt;-->
<!--&lt;!&ndash;      <ul>&ndash;&gt;-->
<!--&lt;!&ndash;        <li><a href="#" routerLink="/">Home</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;        <li><a href="#" routerLink="/list">List</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;      </ul>&ndash;&gt;-->
<!--&lt;!&ndash;    </nav>&ndash;&gt;-->
<!--  </div>-->
<!--</header>-->
<div class="title-container">
  <div class="title-subheader">
    <div class="title-header">
      Brew Helper
    </div>
    <div class="title-version">
       {{currentApplicationVersion}}
    </div>
  </div>
</div>
<div class="search-container">
  <app-search-input></app-search-input>
</div>
